<main class="flex-shrink-0">
    <section class="py-5">
        <div class="container px-5">
            <h2 class="fw-bolder fs-5 mb-4">Articles on <%= @blog_subcategory.name %></h2>
            <div class="row gx-5">

              <% @blog_subcategory.blogs.each do |blog| %>
                <%= render partial: "blogs/blog_card", locals: { blog: blog } %>
              <% end %>
        </div>
    </section>
</main>
      