<main class="container py-5">

  <header class="text-center mb-3">
    <h1>Products</h1>
  </header>
    
  <div id="admin-products-root" data-products="<%= @products.to_json %>" data-categories="<%= @categories.to_json %>" data-bike-models="<%= @bike_models.to_json %>"></div>
  
</main>