<main class="flex-shrink-0">
    <!-- Header-->
    <header class="bg-dirt py-5">
        <div class="container px-5 py-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-3 fw-bolder text-white mb-2">The Honda that Honda should have built...</h1>
                        <p class="lead fw-normal text-white mb-4">
                            Treat your XR to an Aloop 4SMX Seat/Tank kit. No other single modification can give you such an immediate gain in handling, performance, and style!
                        </p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                            <%= link_to "See Our Customer Photos", photos_path, class: "btn btn-blue z-depth-5 hover-clear btn-lg px-4" %>
                            <%= link_to "See Our Kits", page_path("kits"), class: "btn btn-red z-depth-5 hover-clear btn-lg px-4 me-sm-3" %>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-1 my-5" src="https://aloopphotobucket.s3.us-west-1.amazonaws.com/Images/GP+Garage+XR650L.jpg" alt="..." /></div>
            </div>
        </div>
    </header>
    <!-- Features section-->
    <section class="py-5" id="features">
        <div class="container px-5 my-5 mb-3">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">
                    Your Honda was designed in the 1980's. Aloop gives you modern style and greatly improved handling
                </h2></div>
                <div class="col-lg-8">
                    <div class="row gx-5">
                        <div class="col-sm-6 mb-5 h-100">
                            <div class="feature bg-red text-white rounded-1 mb-3"><i class="fas fa-motorcycle"></i></div>
                            <h2 class="h5 color-red">“The Honda that Honda should have built...”</h2>
                            <p class="mb-3">
                                Aloop’s 4SMX Seat/Tank kit changes your XR from an old-school woods bike into a fresh looking Dirt Racer! The kit includes a new 2 Gallon fuel tank, a new CR style seat, radiator plastic from a CR for enhanced engine cooling, cool new graphics, and all the hardware, brackets you need for the install.
                            </p>
                            <p class="mb-0">
                                This kit features a smaller than stock 2.0 gallon plastic fuel tank, a new seat based around the CR250 style seating position, and it utilizes shrouds from a CR to enhance engine cooling and overall style.
                            </p>
                        </div>
                        <div class="col-sm-6 mb-5 h-100">
                            <div class="feature bg-red text-white rounded-1 mb-3"><i class="fas fa-wrench"></i></div>
                            <h2 class="h5 color-red">Ready to Bolt On.</h2>
                            <p class="mb-0">
                                The Aloop 4SMX Kit uses your stock petcock and mounting hardware. The new tank includes a right side petcock for better fuel flow. Total fuel capacity is only .8 gallons less than stock, but in a greatly improved ergonomics package. A great looking Aloop graphics set and non-slip seat cover round out the kit. All parts made in the USA. Get one and go fast!
                            </p>
                        </div>
                        <div class="col-12 mb-5 mb-md-0 h-100">
                            <div class="feature bg-red text-white rounded-1 mb-3"><i class="fas fa-thumbs-up"></i></div>
                            <h2 class="h5 color-red">Gives your Old XR a 20 Year Leap Forward in Handling!</h2>
                            <p class="mb-3">
                                With the Aloop 4SMX kit, the rider can sit a full 3" further forward on the narrow, flat seat, without encountering the awkward hump of the stock setup. The new fuel tank is 3" narrower than stock tank, and the new seat places the rider 3/4" higher as well for a greatly improved ergonomic feel. CR250 style radiator shrouds direct cooling air to the engine, and provide a place for mounting of additional oil coolers. Best of all, the new fuel tank is dramatically slimmer, and riders will find it much easier to grip the tank in the rough sections.
                            </p>
                            <p class="mb-0">
                                This improves the handling and you will easily ride your machine faster. A Motocross Seat Tank kit may just be the most noticeable mod you make for your race bike.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Testimonial section-->
    <section class="py-5 bg-tires">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-10 col-xl-7">
                    <div class="text-center">
                        <div class="raised-box p-4">
                            <p>"The kit arrived by late Friday, indeed much sooner than expected, so I must say I’m quite impressed by shipping service. I’ve been also quite impressed by the general quality of fit, finish an engineering of the Aloop kit. Thanks to it I have an altogether new bike!</p>
                            <p>I decided to take my time and enjoy the work, so I spent best part of the weekend mounting the kit. Thanks to the sense of humour of the instructions I must say it was a double enjoyment. In short, thanks for an outstanding product and a no less outstanding service."</p>
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="fw-bold">
                                    Fernando G.
                                    <span class="fw-bold text-primary mx-1">/</span>
                                    Spain
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Blog preview section-->
    <section class="py-5">
        <div class="container px-5 my-4">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="text-center">
                        <h2 class="fw-bolder">From Our Blog</h2>
                        <p class="lead fw-normal text-muted mb-5">Tips and tricks on how to make the most&nbsp;of&nbsp;your&nbsp;bike.</p>
                    </div>
                </div>
            </div> 

            <div class="row gx-5">
                <% Blog.all.limit(3).each do |blog| %>
                    <%= render partial: "blogs/blog_card", locals: { blog: blog } %>
                <% end %>
            </div>


            <!-- Call to action-->
            <aside class="bg-red rounded-1 p-4 p-sm-5 mt-5">
                <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                    <div class="mb-4 mb-xl-0">
                        <div class="fs-3 fw-bold text-white">New products, delivered to you.</div>
                        <div class="text-white-50">Sign up for our newsletter for the latest updates.</div>
                    </div>
                    <div class="ms-xl-4">
                        <div class="input-group mb-2">
                            <input class="form-control" type="text" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter" />
                            <button class="btn btn-black" id="button-newsletter" type="button">Sign up</button>
                        </div>
                        <div class="small text-white-50">We care about privacy, and will never share your data.</div>
                    </div>
                </div>
            </aside>
        </div>
    </section>




    <section>
        <div class="container">
            <h2 class="text-center pb-4">Aloop Bikes from Around the Web</h2>

            <!-- Place <div> tag where you want the feed to appear -->
            <div id="curator-feed-aloop-offroad-layout"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>
            <!-- The Javascript can be moved to the end of the html page before the </body> tag -->
            <script type="text/javascript">
            /* curator-feed-aloop-offroad-layout */
            (function(){
            var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
            i.src = "https://cdn.curator.io/published/65414202-ebc8-4b03-90ae-5b54dab3ee4d.js";
            e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
            })();
            </script>

        </div> <!-- container -->
    </section>




    <% if @videos != [] %>
        <section class="text-center container py-5">
            <h2 class="pb-4">Videos</h2>
                <% @videos.each do |video| %>
                    <div class="py-3">
                        <%= video.video_url.html_safe %>
                    </div> <!-- col -->
                <% end %>
        </section> <!-- row -->
    <% end %>



</main>
