<main class="flex-shrink-0">
    <!-- Page Content-->
    <section class="pt-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Frequently Asked Questions</h1>
                <p class="lead fw-normal text-muted mb-0">How can we help you?</p>
            </div>
            <div class="row gx-5">
                <div class="col-xl-8">
                    <!-- FAQ Accordion 1-->
                    <h2 class="fw-bolder mb-3">About the Kits</h2>
                    <div class="accordion mb-5" id="accordionKits">
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingOne1"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                                What shrouds (radiator plastic) does the Aloop kit use?
                            </button></h3>
                            <div class="accordion-collapse collapse" id="collapseOne1" aria-labelledby="headingOne1" data-bs-parent="#accordionKits">
                                <div class="accordion-body">
                                    The Aloop 4SMX seat/tank kit uses shrouds from the 1999 CR250 Honda. Currently we are supplying Acerbis brand shrouds with our kits, but you could also use genuine Honda shrouds, or even UFO or some other brand. Any shrouds meant to fit the 1999 CR250 should fit our kit. We do modify the shrouds slightly to fit our tank though. Basically the mods consist of cutting off the rear shroud bolt hole and mount, and removing the vertical reinforcing rib on the inside of the shroud. If you're fitting your own replacement shrouds use your original Aloop shroud as a guide.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingTwo1"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                                What graphics will fit the Aloop shrouds?
                            </button></h3>
                            <div class="accordion-collapse collapse" id="collapseTwo1" aria-labelledby="headingTwo1" data-bs-parent="#accordionKits">
                                <div class="accordion-body">
                                    Any graphics meant to fit the 1997-1999 Honda CR250 will fit our shrouds. To look at our current Aloop graphics, click here. There is no difference between the graphics for any of our 4SMX kits. The 250, 400, 600 and 650 kits all use the same graphics. The 250/400 kit does use a different seat cover from the 600/650.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingThree1"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
                                What seat covers will fit an Aloop Seat?
                            </button></h3>
                            <div class="accordion-collapse collapse" id="collapseThree1" aria-labelledby="headingThree1" data-bs-parent="#accordionKits">
                                <div class="accordion-body">
                                    Our seat is designed to have the same profile as a Honda CR250, very long and flat across the top. But since the subframe of an XR is wider than that of a CR, we've made the bottom portion of the seat wide enough to span the wider frame. This means we also had to make a special cover that has a CR profile up top, but has much more material on the sides. Some aftermarket CR250 seat covers will fit, but only if they have a generous cut with plenty of material to reach our wider seat bottom. You're probably better off buying our replacement Aloop seat cover, since they're definitely wide enough to fit perfectly.
                                </div>
                            </div>
                        </div> <!-- item -->
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingFour1"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour1" aria-expanded="false" aria-controls="collapseFour1">
                                Can I use an Aloop Seat with a stock fuel tank?
                            </button></h3>
                            <div class="accordion-collapse collapse" id="collapseFour1" aria-labelledby="headingFour1" data-bs-parent="#accordionKits">
                                <div class="accordion-body">
                                    While the Aloop fuel tank and shrouds give our kits their distinctive look, the secret behind an Aloop kit is really the seat. Our flat, CR-style seat profile allows the rider to move much further forward on the bike, placing the rider's weight forward of the footpegs. When you get your weight that far up front it totally changes the way the bike handles. To make our seat so long and flat, we had to design a fuel tank that allowed us to push the seat almost four inches into the space that the stock tank takes up. If you kept the stock tank on your bike, any seat would be pushed up sharply at the front (exactly like your stock XR seat is), because the stock tank has such a big, bulbous hump to it. In order to have that ironing-board profile, you'll need to use the Aloop seat together with the Aloop tank it was made to fit.
                                </div>
                            </div>
                        </div> <!-- item -->
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingFive1"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive1" aria-expanded="false" aria-controls="collapseFive1">
                                My XR400 seat base has broken, what caused this?
                            </button></h3>
                            <div class="accordion-collapse collapse" id="collapseFive1" aria-labelledby="headingFive1" data-bs-parent="#accordionKits">
                                <div class="accordion-body">
                                    When you install your seat, please make sure that the two tongues under the middle of the seat are underneath the two wire loops that hold the seat down. If you install the seat wrong and the seat is over these two wire loops, then all you weight is pressing down on the seat tongues and they are sure to break. We have seen this many times even with a stock seat. We recommend that you look at the wire loops and maybe bend them up as tall and straight as they will go. If the seat is installed correctly then there is no stress at all on these two plastic seat tongues and they probably will never break.
                                </div>
                            </div>
                        </div> <!-- item -->
                    </div>


                    <!-- FAQ Accordion 2-->
                    <h2 class="fw-bolder mb-3">About Aloop</h2>
                    <div class="accordion mb-5 mb-xl-0" id="accordionAloop">
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingOne2"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="false" aria-controls="collapseOne2">
                                Do you sell replacement parts for your kit?
                            </button></h3>
                            <div class="accordion-collapse collapse" id="collapseOne2" aria-labelledby="headingOne2" data-bs-parent="#accordionAloop">
                                <div class="accordion-body">
                                    We sell every part of our XR Seat/Tank kits as a replacement part. Click here to see a part number listing and prices.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingTwo2"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                Do you ship your Aloop kits worldwide?
                            </button></h3>
                            <div class="accordion-collapse collapse" id="collapseTwo2" aria-labelledby="headingTwo2" data-bs-parent="#accordionAloop">
                                <div class="accordion-body">
                                    Absolutely! We've sold thousands of Aloop 4SMX kits worldwide to customers in over 40 countries! We are happy to ship direct to you where ever you live. We usually ship overseas orders via US Mail Global Express Mail service, and it takes about 3-5 days to reach Europe, and 7-10 days to reach Asia and Australia. Cost for Global Express Mail shipping is usually about US$150 per kit. The kit comes in two boxes so it does not travel as an oversize parcel. With Global Express Mail we can both track the progress of the packages, and it's been a very reliable method to get our products overseas.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingThree2"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                                Do you have any dealers or distributors overseas?
                            </button></h3>
                            <div class="accordion-collapse collapse" id="collapseThree2" aria-labelledby="headingThree2" data-bs-parent="#accordionAloop">
                                <div class="accordion-body">
                                    Yes, check out our contact page for links to the distributors' websites.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="py-5 bg-tires">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-10 col-xl-7">
                    <div class="text-center">
                        <div class="raised-box p-4">
                            
                        <div class="h6 fw-bolder">Have more questions?</div>
                        <p class="text-muted mb-4">
                            Contact us at
                            <br />
                            <a href="#!">sales@aloop.com</a>
                        </p>
                        <div class="h6 fw-bolder">Follow Us</div>
                            <a class="fs-5 px-2 link-dark" href="https://www.instagram.com/aloopoffroad" target="_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
