<main class="py-5">

    <section class="text-center">
        <div class="container px-5">
            <div class="mb-5">
                <h1 class="fw-bolder">
                    Our Motocross Action Magazine Project Bike
                </h1>
                <p class="h3">
                    Aloop XR440 Project MX
                </p>
                <img class="w-75 mx-auto my-3" src="https://aloopphotobucket.s3.us-west-1.amazonaws.com/Products/xr4002.jpg" >
                <p class="fw-normal text-muted">
                    Here's a list of the parts and modifications that we used on our Motocross Action Magazine project bike. This story ran in the May, 1998 issue of MXA. You may also want to check out the April 1998 issue of Dirt Bike magazine for another cool XR495 MX bike that sports our new 4SMX tank seat combo.
                </p>
                <p class="fw-normal text-muted">
                    Enjoy this list, and don't drool on your keyboard!!!
                </p>
            </div>
        </div>
    </section>


    <section class="container px-5">
        <table class="table table-striped z-depth-3 px-5">
          <tbody>
            <tr>
                <td>Aloop 4SMX Tank/Seat Kit</td>
            </tr>
            <tr>
                <td>Aloop Custom Glide Plate</td>
            </tr>
            <tr>
                <td>Aloop Suspension Revalve (Front)</td>
            </tr>
            <tr>
                <td>Aloop Suspension Revalve (Rear)</td>
            </tr>
            <tr>
                <td>Aloop MX Flywheel Mod</td>
            </tr>
            <tr>
                <td>Aloop Carb T-Vent Kit</td>
            </tr>
            <tr>
                <td>Aloop Heavy Clutch Springs</td>
            </tr>
            <tr>
                <td>Answer Protaper Bars</td>
            </tr>
            <tr>
                <td>Aloop MX Rear Fender</td>
            </tr>
            <tr>
                <td>Braking K/C 6 Front Brake Pads</td>
            </tr>
            <tr>
                <td>Braking Oversize Front Brake Kit</td>
            </tr>
            <tr>
                <td>Braking Oversize Rear Brake Kit</td>
            </tr>
            <tr>
                <td>Bridgestone M78 Rear</td>
            </tr>
            <tr>
                <td>Bridgestone M23 Front</td>
            </tr>
            <tr>
                <td>Emig Racing Upper Triple Clamp</td>
            </tr>
            <tr>
                <td>Emig Racing Lower Triple Clamp</td>
            </tr>
            <tr>
                <td>Emig Racing Chain Guide</td>
            </tr>
            <tr>
                <td>IMS Folding Tip Shift Lever</td>
            </tr>
            <tr>
                <td>PBI 50t Rear Sprocket</td>
            </tr>
            <tr>
                <td>Renthal Medium Grips</td>
            </tr>
            <tr>
                <td>RaceTech .44 Front Springs</td>
            </tr>
            <tr>
                <td>Russell Front Brake Line</td>
            </tr>
            <tr>
                <td>Regina GPN Chain</td>
            </tr>
            <tr>
                <td>Summers Racing "Kiwi" Case Protector</td>
            </tr>
            <tr>
                <td>Summers Racing Fender Skins</td>
            </tr>
            <tr>
                <td>Summers Racing Fork Brace</td>
            </tr>
            <tr>
                <td>Thumper Racing 440 Big Bore Cylinder</td>
            </tr>
            <tr>
                <td>Thumper Racing Pegs</td>
            </tr>
            <tr>
                <td>Triton Chain Rollers</td>
            </tr>
            <tr>
                <td>UFO KX250 Front Number Plate</td>
            </tr>
            <tr>
                <td>Works Connection Frame Covers</td>
            </tr>
            <tr>
                <td>White Bros 21" Front Weel with Talon Hub, Excel Rim, and Splinedrive Spokes</td>
            </tr>
            <tr>
                <td>White Bros 19" Rear Weel with Talon Hub, Excel Rim, and Splinedrive Spokes</td>
            </tr>
            <tr>
                <td>White Bros Hi Rev Ignition Kit</td>
            </tr>
            <tr>
                <td>White Bros Valve Springs With Ti Collars</td>
            </tr>
            <tr>
                <td>White Bros Large Diameter Head Pipes</td>
            </tr>
            <tr>
                <td>White Bros E-Series Pro-Meg Exhaust</td>
            </tr>
            <tr>
                <td>White Bros Speedo Drive Spacer</td>
            </tr>
            <tr>
                <td>White Bros Powerfilter</td>
            </tr>
            <tr>
                <td>Works Connection Clutch Lever</td>
            </tr>

          </tbody>
        </table>
    </section>
</main>