<header class="py-5 bg-bike1">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder display-3 mb-3 color-white">
                        4SMX Kit for XR250 and XR400
                    </h1>
                    <p class="lead color-white fw-normal mb-4">
                        The most popular XR400 performance modification in the world! Thousands of our Aloop 4SMX kits are now in service worldwide.
                    </p>
                    <%= link_to "Get One for Your Bike", products_path, class: "btn btn-red btn-lg" %>
                </div>
            </div>
        </div>
    </div>
</header>



<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 pb-5">
                <img class="img-fluid rounded mb-0" src="https://aloopphotobucket.s3.us-west-1.amazonaws.com/Products/kit_1_1.jpg" alt="4SMX Kit for XR250 and XR400" />
                <p><small><em>Note that our graphics and seat cover designs change from time to time and may differ from the photos on this site. Please see the <%= link_to "Graphics", page_path("graphics") %> page for more information.</em></small></p>
            </div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">
                    No other modification can make such a huge difference in handling and appearance.
                </h2>
                <p class="lead fw-normal text-muted mb-0">
                    Our Aloop Seat/tank kit for the XR250 and XR400 includes a new 2-gallon fuel tank, a new flatter seat, CR-style radiator plastic, cool new graphics, and all the brackets and hardware you need to install. No permanent modifications to your bike are needed, and you'll be riding in about an hour!
                </p>
            </div>
        </div>
    </div>
</section>



<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last">
                <img class="img-fluid rounded mb-5 mb-lg-0" src="https://aloopphotobucket.s3.us-west-1.amazonaws.com/Products/kit_1_2.jpg" alt="4SMX Kit for XR250 and XR400" />
            </div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">
                    Fits 1996-2004 XR250s and 1996-2004 XR400s
                </h2>
                <p class="lead fw-normal text-muted">
                    Featured on the covers of over 10 offroad magazines worldwide, including The Dirt Bike Magazine and Motocross Action Magazine, ALOOP's XR400 Seat Tank kit is a "must-have" item for any XR400 performance rider.
                </p>
            </div>
        </div>
    </div>
</section>



<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">It's like a brand new bike, in a box!</h2>
            <p class="lead fw-normal text-muted mb-5">
                The kit consists of a 2.0 gallon motocross tank (just .8 gallon less than the stock tank), a new seat with CR-style foam and a Guts Racing non-slip seat cover, and two CR-style radiator shrouds complete with genuine Guts graphics. The new tank is set up to use two fuel petcocks for better fuel delivery under race conditions.
            </p>
            <p class="lead fw-normal text-muted mb-5">
                Most importantly, the ALOOP Tank allows the rider to sit more than 3 inches further forward, more than an inch higher, and the tank is more than three inches narrower at the knees. The Aloop kit reuses your stock fuel cap, left side petcock, and front tank mounting brackets and rubber bushings.
            </p>
        </div>
    </div>
</section>



<%= render partial: "layouts/ways_to_order" %>



