<header class="py-5 bg-bike3">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder display-3 mb-3 color-white">
                        4SMX Kit for XR650L
                    </h1>
                    <p class="lead color-white fw-normal mb-4">
                        This kit fits all 1993-2024 Honda XR650L models.
                    </p>
                    <%= link_to "Get One for Your Bike", products_path, class: "btn btn-red btn-lg" %>
                </div>
            </div>
        </div>
    </div>
</header>



<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-5 mb-lg-0" src="https://aloopphotobucket.s3.us-west-1.amazonaws.com/Products/kit_3_1.jpg" alt="4SMX Kit for XR600" />
            </div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">
                  Fits all 1993 to 2024 Honda XR650L models.
                </h2>
                <p class="lead fw-normal text-muted mb-0">
                  Bring your XR650L into the 21st century, for Street, Dirt or Supermoto!
                </p>
            </div>
        </div>
    </div>
</section>



<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last">
                <img class="img-fluid rounded mb-5 mb-lg-0" src="https://aloopphotobucket.s3.us-west-1.amazonaws.com/Products/kit_3_2.jpg" alt="4SMX Kit for XR600" />
            </div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">
                  The Aloop 4SMX XR650L seat/tank kit costs just $599 plus shipping and is available online.
                </h2>
                <p class="lead fw-normal text-muted">
                  Many thanks to the HUNDREDS of customers who have patiently awaited the release of the Aloop Seat/tank kit to fit the Honda XR650L. The WAIT IS OVER, we now have XR650L Kits in stock and are filling orders daily. Place your order now and get the most incredible XR650L upgrade ever!
                </p>
            </div>
        </div>
    </div>
</section>



<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-5 mb-lg-0" src="https://aloopphotobucket.s3.us-west-1.amazonaws.com/Products/kit_3_3.jpg" alt="4SMX Kit for XR600" />
            </div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">
                  The NEW Aloop XR650L kit fits the 1993-2024 XR650L.
                </h2>
                <p class="lead fw-normal text-muted">
                  Fuel tank capacity is approx. 2 gallons, and the new Aloop seat flows like a CR-style seat, flat and comfortable with no huge humpback like the stock seat and tank. Most importantly, the new Aloop seat and tank are over 4" narrower at the knees, and this brings an incredible sense of control and stability when you pinch the tank with your legs.
                </p>
                <p class="lead fw-normal text-muted">
                  The new XR650L kit includes the 2 gallon fuel tank in black, a pair of plastic shrouds with Aloop decal set, a new MX style seat fully assembled, and all mounting hardware. Cost is only US$599 plus shipping
                </p>
            </div>
        </div>
    </div>
</section>



<section class="py-5 bg-white">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">
              One Important Note: We supply the new XR650L kit with all parts needed to install it EXCEPT for an XR style fuel cap.
            </h2>
            <p class="lead fw-normal text-muted mb-5">
              You will not be able to use your XR650L cap as it fits the metal tank. You should order a Honda cap, part# 17620-KT1-780 from your dealer. The approximate retail price for this part is just $25. Alternatively, you can order a billet XR cap from companies such as BBR or Sunline. Just be aware that you're going to need an XR cap in order to complete the installation. (Both fuel petcocks will be provided by Aloop).
            </p>
        </div>
    </div>
</section>




<%= render partial: "layouts/ways_to_order" %>



