<div class="image-gallery">
  <div class="main-image-container">
    <% main_image = product.main_photos.first %>
    <% if main_image %>
      <%= image_tag url_for(main_image), alt: "Main product", class: "img-fluid main-image", id: "mainImage" %>
    <% else %>
      <div class="no-image">
        <span>No image available</span>
      </div>
    <% end %>
  </div>
  <div class="thumbnails-container mt-3">
    <% product.main_photos.each_with_index do |photo, index| %>
        <div class="thumbnail <%= 'active' if photo == main_image %>" data-full-image="<%= url_for(photo) %>">
          <%= image_tag url_for(photo), alt: "Thumbnail #{index + 1}", class: "img-fluid" %>
        </div>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const mainImage = document.getElementById('mainImage');
    const thumbnails = document.querySelectorAll('.thumbnail');
    
    thumbnails.forEach(thumbnail => {
      thumbnail.addEventListener('click', function() {
        mainImage.src = this.dataset.fullImage;
        thumbnails.forEach(t => t.classList.remove('active'));
        this.classList.add('active');
      });
    });
  });
</script>