<div id="productDetails" data-product="<%= @product.to_json(
  include: { 
    components: { 
      include: { 
        variants: { 
          methods: :photos_urls
        } 
      } 
    } 
  }
).gsub('"', '&quot;').html_safe %>">
</div>